GEONODE_BASE_URL="http://localhost"
GEONODE_HOST="localhost"
GEONODE_ADMIN_USERNAME="youradminusernameoremail"
GEONODE_ADMIN_PASSWORD="youradminpassword"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER="your-email@example.com"
EMAIL_HOST_PASSWORD="your-email-password"
EMAIL_FROM="noreply@example.com"
WEBDOMAIN=http://localhost:3000
SESSION_SECRET=secret
SECRET_KEY=secret
RUNDECK_API_URL="http://localhost:4440/api/50"
RUNDECK_API_TOKEN=placeholder_will_be_updated_by_rundeck
CSRF_TRUSTED_ORIGINS="http://localhost:3000"
DB_HOST=db
POSTGRES_PASSWORD=password
DB_PASSWORD=password
DB_SCHEMA=dmh_app
DB_USER=akvo
DEBUG=False
SETUP_SECRET_KEY=secret