RUNDECK_GRAILS_URL=http://localhost:4440
RD_URL=http://localhost:4440
RD_USER=admin
RD_PASSWORD=<generate_strong_password>
RUNDECK_MAIL_SMTP_HOST=<your_smtp_host>
RUNDECK_MAIL_SMTP_PORT=<your_smtp_port>
RUNDECK_MAIL_SMTP_USERNAME=<your_smtp_user>
RUNDECK_MAIL_SMTP_PASSWORD=<your_smtp_password>
RUNDECK_MAIL_FROM=<<your_smtp_mail_from>>
